<!DOCTYPE html>

<html lang="sv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Färdiga utskick</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Meta Tags -->
    <!-- <meta name="description" content="">
    <meta name="author" content=""> -->

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS -->
    <link rel="stylesheet" media="screen" href="/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="/style/theme.css">
    <link rel="stylesheet" media="screen" href="/style/basic.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="modal fade" id="reinstateListModal" tabindex="-1" aria-labelledby="reinstateListModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="tab-pane fade show active" th:action="@{/user/reinstate-list}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Återställ utskick</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0" id="reinstateNameText">
                        Ta bort
                    </p>
                    <div class="mt-3">
                        <label class="form-label" for="reinstateDateInput">Startdatum för utskick</label>
                        <input name="date" id="reinstateDateInput" required class="form-control" type="date">
                    </div>
                </div>
                <input type="text" name="id" id="reinstateListId" style="display: none">
                <div class="modal-footer">
                    <button type="button" class="btn btn-light border btn-sm" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        Återställ
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="removeListModal" tabindex="-1" aria-labelledby="removeListModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form class="tab-pane fade show active" th:action="@{/user/removelist-finished}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Ta bort utskick</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-0" id="removeNameText">
                        Ta bort
                    </p>
                </div>
                <input type="text" name="id" id="listId" style="display: none">
                <div class="modal-footer">
                    <button type="button" class="btn btn-light border btn-sm" data-bs-dismiss="modal">Avbryt</button>
                    <button type="submit" class="btn btn-primary btn-sm">
                        Ta bort
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body tab-content py-4">
                <!-- Settings form -->
                <form class="tab-pane fade show active" th:action="@{/user/settings/update}" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label" for="email">Epost</label>
                        <input name="email" id="email" th:value="${user.mailEmail}" required class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="alias">Alias</label>
                        <input name="alias" id="alias" th:value="${user.mailAlias}" required class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">Lösenord</label>
                        <input name="password" id="password" th:value="${user.mailPassword}" required class="form-control" type="password">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="host">Host</label>
                        <input required name="host" id="host" th:value="${user.mailHost}" class="form-control" type="text" placeholder="mailcluster.loopia.se">
                    </div>
                    <div class="mb-3">
                        <label for="port" class="form-label">Port</label>
                        <input required name="port" id="port" type="text" th:value="${user.mailPort}" class="form-control" placeholder="587">
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-light border btn-sm" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary btn-sm">
                            Spara
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body tab-content py-4">
                <!-- Settings form -->
                <form class="tab-pane fade show active" th:action="@{/user/upload-list}" enctype="multipart/form-data" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label" for="file">Fil</label>
                        <input name="file" required id="file" class="form-control" type="file">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Namn på utskick</label>
                        <input name="name" required id="name" class="form-control" type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="separator">Separator</label>
                        <input name="separator" id="separator" value="," required class="form-control" type="text" placeholder="tex. ',' ':' etc utan citattecken">
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-light border btn-sm" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary btn-sm">
                            Nästa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<header class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container">
        <a href="/user/dashboard" class="navbar-brand">
            .Balumbo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav id="navbarCollapse1" class="collapse navbar-collapse">
            <hr class="d-lg-none mt-3 mb-2">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center" id="dropdownBacktesting" data-bs-toggle="dropdown"
                       aria-expanded="false" style="cursor: pointer;">Utskick</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownBacktesting">
                        <li><a class="dropdown-item" href="/user/koade-utskick?page=0" style="cursor: pointer;">Köade utskick</a></li>
                        <li><a class="dropdown-item" href="/user/fardiga-utskick?page=0" style="cursor: pointer;">Färdiga utskick</a></li>
                        <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#uploadModal">Nytt utskick</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex align-items-center" id="dropdownSettings" data-bs-toggle="dropdown"
                       aria-expanded="false" style="cursor: pointer;" href="#">Inställningar</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSettings">
                        <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#settingsModal" style="cursor: pointer;">SMTP</a></li>
                        <li><a class="dropdown-item" href=/logout>logga ut</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="w-100">
        <div class="px-lg-4 px-sm-3 px-2 py-lg-5 py-sm-4 py-3">
            <div class="tableSearch">
                <table class="table fs-sm">
                    <thead>
                    <tr class="d-none d-lg-table-row">
                        <th>Namn</th>
                        <th>Datum för utskick</th>
                        <th class="text-end">Handlingar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="completedList : ${completedLists}">
                        <td class="pe-1" th:text="${completedList.fileName}">
                        </td>
                        <td class="d-none d-lg-table-cell">
                                    <span class="badge shadow-sm border bg-secondary text-body">
                                        <span th:text="${completedList.dispatchDate}">johannes.eriksson@gmail.com</span>
                                    </span>
                        </td>
                        <td class="px-0" style="max-width: fit-content !important;">
                            <div class="d-flex justify-content-end gap-1 pe-2">
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Redigera">
                                    <a th:href="'/user/redigera-utskick/' + ${completedList.id}"><i class="bx bxs-edit p-1" style="font-size: 0.9rem" th:data-listid="${completedList.id}"></i></a>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Ladda ner som CSV">
                                    <a th:href="'/user/ladda-ner-utskick-fardig/' + ${completedList.id}"><i class="bx bxs-download p-1" style="font-size: 0.9rem" th:data-listid="${completedList.id}"></i></a>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Skicka ett test mejl till mig själv">
                                    <a th:href="'/user/test-mejl-fardig/' + ${completedList.id}"><i class="bx bxs-envelope p-1" style="font-size: 0.9rem" th:data-listid="${completedList.id}"></i></a>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Återställ för nytt utskick">
                                    <i class="bx bxs-send p-1" style="font-size: 0.9rem " th:data-listid="${completedList.id}" th:data-listname="${completedList.fileName}" data-bs-toggle="modal" data-bs-target="#reinstateListModal"></i>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Visa sekvenser">
                                    <a th:href="'/user/visa-sekvenser/' + ${completedList.id}"><i class="bx bx-reset p-1" style="font-size: 0.9rem"></i></a>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Radera utskick">
                                    <i class="bx bx-x p-1" style="font-size: 0.9rem " th:data-listid="${completedList.id}" th:data-listname="${completedList.fileName}" data-bs-toggle="modal" data-bs-target="#removeListModal"></i>
                                </button>
                                <div class="border-start d-lg-none"></div>
                                <button class="btn btn-sm btn-light border p-0 shadow-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Öppna lista">
                                    <a th:href="'/user/lista-rader/' + ${completedList.id} + '?page=0'"><i class="bx bx-folder p-1" style="font-size: 0.9rem" th:data-listid="${completedList.id}"></i></a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<!-- Scripts -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/theme.min.js"></script>
<script src="/js/main.js"></script>
<script>
    var date = new Date();
    var day = String(date.getDate()).padStart(2, '0');
    var month = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
    var year = date.getFullYear();

    var today = year + '-' + month + '-' + day;

    document.getElementById('reinstateDateInput').value = today;

    $('#removeListModal').on('show.bs.modal', function(e) {

        let id = $(e.relatedTarget).data('listid');
        let name = $(e.relatedTarget).data('listname');
        document.getElementById("removeNameText").textContent = "Ta bort '" + name + "'?"
        document.getElementById("listId").value = id

    });

    $('#reinstateListModal').on('show.bs.modal', function(e) {

        let id = $(e.relatedTarget).data('listid');
        let name = $(e.relatedTarget).data('listname');
        document.getElementById("reinstateNameText").textContent = "Återställ '" + name + "' för att planera ett nytt utskick?"
        document.getElementById("reinstateListId").value = id

    });
</script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script>
    document.getElementById('file').addEventListener('change', function(e) {
        var fileNameByInput = e.target.files[0].name;
        var fileName = document.getElementById("name").value
        if(fileName.length==0){
            document.getElementById("name").value = fileNameByInput
        }
    });
</script>
<script th:if="${uploaded==true}">
    alert("Lista uppladdad")
</script>
<script th:if="${edited==true}">
    alert("Lista uppdaterad")
</script>
<script th:if="${sentTest==true}">
    alert("Ett test mejl har sickats till inloggad epostadress")
</script>
<script th:if="${sentTest==false}">
    alert("Det gick inte att skicka ett test mejl. Antigen är eposten felaktig eller så är dina epost uppgifter fel.")
</script>
<script th:if="${hasError==false}">
    alert("settings updated")
</script>
</body>
</html>